{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top font-weight-bold">
    <a class="navbar-brand" href="{% url 'welcome' %}">Yokyo Olympics</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if request.user.is_authenticated and user.organiser %}
            <li class="nav-item">
                    <a class="nav-link" href="{% url 'organiser_home' %}">Home</a>
            </li>
            {% endif %}

            {% if request.user.is_authenticated and user.localresident %}
            <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'news' %}">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'sports' %}">Sports</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Schedules
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'schedule' %}">Schedule</a>
                    <a class="dropdown-item" href="{% url 'venue' %}">Stadiums</a>
                </div>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                    <a class="nav-link" href="{% url 'settings' %}">Settings</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'events' %}">Events</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
        </ul>

        <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'search' %}">
            
            <input class="form-control mr-sm-2" name="all" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>

        {% if request.user.is_authenticated %}
        <p class="font-weight-bold text-white ml-md-5">Welcome {{ user.first_name }} !!!</p>
        <a class="nav-link btn btn-primary ml-md-5 btn-sm" href="{% url 'logout' %}">logout</a>
        {% else %}

        <a class="nav-link btn btn-primary ml-md-5 btn-sm" href="{% url 'login' %}">Login</a>
        <br>
        <a class="nav-link btn btn-primary ml-md-2 btn-sm" href="{% url 'register' %}">Sign Up</a>
        {% endif %}
    </div>
</nav>