{% extends 'super/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  {% include 'super/navbar.html' %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/local_login_style.css' %}">

  <div class="login-container mt-5 d-flex align-items-center justify-content-center">

    <form class="login-form text-center" action="{% url 'organiser_register' %}" method="POST">
      {% csrf_token %}
      
     {{ form | crispy }}

      <h1 class="mt-2">Register New Account</h1>
       
      <!-- <div class="form-group">
        <input type="text" placeholder="First name" name="first_name" class="form-control rounded-pill form-control-lg" >
      </div>
      <div class="form-group">
        <input type="text" placeholder="Last name" name="last_name" class="form-control rounded-pill form-control-lg">
      </div>
      <div class="form-group">
        <input type="text" placeholder="Username" name="username" class="form-control rounded-pill form-control-lg">
      </div>
      <div class="form-group">
        <input type="email" placeholder="Email" name="email" class="form-control rounded-pill form-control-lg">
      </div>
      <div class="form-group">
        <input type="password" name="password1" placeholder="Password" class="form-control rounded-pill form-control-lg" placeholder="Password">
      </div>
      <div class="form-group">
        <input type="password" name="password2" placeholder="Confirm Password" class="form-control rounded-pill form-control-lg" placeholder="Password">
      </div>
      <label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
      <div class="forgot-link d-flex align-items-center justify-content-between">
        <a href="">Forgot Password</a>
      </div> -->
      <button type="submit" class="btn btn-primary btn-block rounded-pill btn-lg">Create Account</button>
      <p class="mt-3 font-weight-normal">Already a member ?<a href="{% url 'login' %}">Login</a></p>
    </form>
  </div>


  
{%endblock%}