3x3 Basketball Competition Schedule
Share with Facebook
Share with Twitter

SHARE
On Tuesday 24 March, 2020, the IOC and The Tokyo Organising Committee of the Olympic Games announced the postponement of the Olympic Games Tokyo 2020.
The updated competition schedule will be announced on this page as soon as it is decided.
The following information is as of March 24, 2020.


*All times in Japan Standard Time (JST)
3x3 Basketball
Date and Time: Sat 25 July 10:15 - 12:25
Venues: Aomi Urban Sports Park
Women's Pool Round (2 games)
Men's Pool Round (2 games)

Date and Time: Sat 25 July 14:00 - 15:50
Venues: Aomi Urban Sports Park
Women's Pool Round (2 games)
Men's Pool Round (2 games)

Date and Time: Sat 25 July 17:30 - 19:30
Venues: Aomi Urban Sports Park
Women's Pool Round (2 games)
Men's Pool Round (2 games)

Date and Time: Sat 25 July 21:00 - 22:50
Venues: Aomi Urban Sports Park
Women's Pool Round (2 games)
Men's Pool Round (2 games)

Date and Time: Sun 26 July 10:15 - 12:25
Venues: Aomi Urban Sports Park
Women's Pool Round (2 games)
Men's Pool Round (2 games)

Date and Time: Sun 26 July 14:00 - 15:50
Venues: Aomi Urban Sports Park
Women's Pool Round (2 games)
Men's Pool Round (2 games)

Date and Time: Sun 26 July 17:30 - 19:30
Venues: Aomi Urban Sports Park
Women's Pool Round (2 games)
Men's Pool Round (2 games)

Date and Time: Sun 26 July 21:00 - 22:50
Venues: Aomi Urban Sports Park
Women's Pool Round (2 games)
Men's Pool Round (2 games)

Date and Time: Mon 27 July 10:15 - 12:25
Venues: Aomi Urban Sports Park
Women's Pool Round (2 games)
Men's Pool Round (2 games)

Date and Time: Mon 27 July 14:00 - 15:50
Venues: Aomi Urban Sports Park
Women's Pool Round (2 games)
Men's Pool Round (2 games)

Date and Time: Mon 27 July 17:30 - 19:30
Venues: Aomi Urban Sports Park
Women's Pool Round (2 games)
Men's Pool Round (2 games)

Date and Time: Mon 27 July 21:00 - 22:50
Venues: Aomi Urban Sports Park
Women's Pool Round (2 games)
Men's Pool Round (2 games)


Date and Time: Tue 28 July 13:30 - 15:30
Venues: Aomi Urban Sports Park
Women's Pool Round (2 games)
Men's Pool Round (2 games)

Date and Time: Tue 28 July 17:00 - 18:50
Venues: Aomi Urban Sports Park
Women's Pool Round (2 games)
Men's Pool Round (2 games)

Date and Time: Tue 28 July 20:30 - 22:50
Venues: Aomi Urban Sports Park
Women's Quarterfinals (2 games)
Men's Quarterfinals (2 games)

Date and Time: Wed 29 July 17:00 - 19:10
Venues: Aomi Urban Sports Park
Women's Semifinals (2 games)
Men's Semifinals (2 games)

Date and Time: Wed 29 July 20:45 - 23:25
Venues: Aomi Urban Sports Park
Women's Bronze Medal Game
Men's Bronze Medal Game
Women's Gold Medal Game
Men's Gold Medal Game
Women's Victory Ceremony
Men's Victory Ceremony