<div class="row row-30 row-lg-50">
            <div class="col-sm-6 col-md-5 col-lg-6"><img src="images/team-11-500x537.jpg" alt="" width="500" height="537">
            </div>
            <div class="col-md-7 col-lg-6">
              <div class="team-big">
                <div class="heading-3 team-big-name">Ann Williams</div>
                <div class="team-big-position">Yoga/Fitness Coach</div>
                <ul class="list-social list-inline list-inline-md">
                  <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                  <li><a class="icon mdi mdi-google" href="#"></a></li>
                  <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                  <li><a class="icon mdi mdi-pinterest" href="#"></a></li>
                </ul>
                <div class="big team-big-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Gimply dummy text of the printing and typesetting industryorem Ipsum has been the industry's standard dummy texake of the.</div>
                <div class="progress-linear-wrap">
                  <!--Linear progress bar-->
                  <div class="progress-linear animated">
                    <div class="progress-linear-header">
                      <p class="progress-linear-title">Crossfit</p><span class="progress-linear-counter">85</span>
                    </div>
                    <div class="progress-linear-body">
                      <div class="progress-linear-bar" style="width: 85%;"></div>
                    </div>
                  </div>
                  <!--Linear progress bar-->
                  <div class="progress-linear progress-linear-blue animated">
                    <div class="progress-linear-header">
                      <p class="progress-linear-title">Yoga</p><span class="progress-linear-counter">80</span>
                    </div>
                    <div class="progress-linear-body">
                      <div class="progress-linear-bar" style="width: 80%;"></div>
                    </div>
                  </div>
                  <!--Linear progress bar-->
                  <div class="progress-linear progress-linear-secondary animated">
                    <div class="progress-linear-header">
                      <p class="progress-linear-title">Cardio</p><span class="progress-linear-counter">70</span>
                    </div>
                    <div class="progress-linear-body">
                      <div class="progress-linear-bar" style="width: 70%;"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>